# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Extensionless executables
*
!*.*
!*/

.vscode/

# CMake
bin/
lib/
build/

# My generated parser files
test/parser/generated/*
src/parser/regex_parser_backup.cpp
src/parser/regex_parser_backup.hpp

# Register allocation
prez.s
prez
